.container{
  min-width: 320px;
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;

}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  border: solid 1px black;
}
footer h1{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  overflow-wrap: break-word;
}

.flex-container {
  display: flex;
  justify-content:space-between ;
  padding: 0px 12px 0px 12px;
  width: 540px;
  height: 400px;
  box-shadow: 0 0 8px 8px white inset;
} 