<html lang="en">

<head>

  <!-- <link href="https://fonts.googleapis.com/css?family=Ceviche+One&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/modules.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixster</title>

</head>

<body class="bodyBackground">
  <%- include('partials/header') %>


    <button class="button2" id="" type="button">Library</button>
    <button class="button3" id="" type="button">About Us</button>
  </div>

  </header>
  <div class="innerContainer">
    <div class="flex-container">
      <div class="background">
        <img src="./img/andrew.png" height="400px" z-index="1" >
      </div>
        <h1 id="foreGround"></h1>
        <p>Amateur snowboarder, video game philanthropist, cheese connoisseur, software developer, and yoga enthusiast. Master of none. </p>
        <a href="https://www.linkedin.com/in/andrewkyllo/">
          <img src="./img/LI-In-Bug.png" width="50px"></a>
        <a href="https://github.com/kyllo34">
          <img src="./img/Octocat.png" width="50px"></a>
  
  
      </div>
    <div class="flex-container">
      <div class="background">

      <img src="./img/tyler.png" height="400px">
      <h1></h1>
      </div>
      <p>Tyler is a full-stack javascript web developer with a background in the marine oil transportation industry. As a full stack developer, he is comfortable on both ends of a project, and loves collaborating and programming in pairs. He enjoys coordinating ski vacations among friends, evening sails on the sound, and building model lighter than air vehicles. </p>

      <a href="https://www.linkedin.com/in/tylersayvetz/">
        <img src="./img/LI-In-Bug.png" width="50px"></a>
      <a href="https://github.com/tylersayvetz">
        <img src="./img/Octocat.png" width="50px"></a>
      
    </div>
    <div class="flex-container">
      <div class="background">
        
      <img src="./img/ally.png" height="400px">
      <h1></h1>
    </div>

      <p>Recently moved from Oahu. Went to University of Hawaii at Manoa with a background in dentistry. Moved to Seattle in hopes of becoming a hygienist but moved from that idea after wanted to take on the world of tech. </p>
      <a href="https://www.linkedin.com/in/allyson-reyes/">
        <img src="./img/LI-In-Bug.png" width="50px"></a>
      <a href="https://github.com/areyes986">
        <img src="./img/Octocat.png" width="50px"></a>
      
    </div>
    <div class="flex-container">
      <div class="background">
      <img src="./img/harlen.png" height="400px">
      <h1></h1>
    </div>
      <p>I am a Software developer with a background in Military Intelligence. I spent my seven years of service in human intelligence analysis, and counter intelligence analysis. I  decided to leave service honorably and pursue a career where I can continue to make a meaningful impact by developing software to help assist in training professionals in the industrial and medical fields through the use of AR/VR. </p>
      <a href="https://www.linkedin.com/in/harlen-lopez-ab9349aa/">
        <img src="./img/LI-In-Bug.png" width="50px"></a>
      <a href="https://github.com/harlenlopez">
        <img src="./img/Octocat.png" width="50px" ></a>
  </div>
  </div>
</div>


  <main>


    
  </main>
    <%- include('partials/footer') %>



</body>

</html>