<html lang="en">

<head>

  <!-- <link href="https://fonts.googleapis.com/css?family=Ceviche+One&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="/views/public/CSS/layout.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixster</title>

</head>

<body>

  <header>
    <img src="../public/img/logoTemp.jpg" height="45px" width="45px" <h1>301 Project name</h1>
    <div>User Name</div>
    <button class="" id="" type="button">Switch User</button>
    <button class="" id="" type="button">Library</button>
    <button class="" id="" type="button">About Us</button>

  </header>
  <div class="innerContainer">
    <div class="flex-AndrewContainer">
      <div class="background">
        <img src="../public/img/deadpolreru.png" height="400px" z-index="1" >
      </div>
        <h1 id="foreGround"></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non eros vel quam laoreet sodales. Nunc tincidunt, leo gravida venenatis aliquam, lectus velit pretium lorem, non gravida ligula lacus eu tortor. Cras in ipsum eu erat viverra dignissim quis non lacus. Maecenas ut facilisis mi, ultrices ullamcorper ex. Mauris in leo posuere urna placerat rhoncus nec sit amet dui. Sed quis tellus ipsum. Donec mattis dictum leo, quis sollicitudin neque interdum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
    </div>
    <div class="flex-tylerContainer">
      <div class="background">

      <img src="../public/img/tyler.png" height="700px">
      <h1></h1>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non eros vel quam laoreet sodales. Nunc tincidunt, leo gravida venenatis aliquam, lectus velit pretium lorem, non gravida ligula lacus eu tortor. Cras in ipsum eu erat viverra dignissim quis non lacus. Maecenas ut facilisis mi, ultrices ullamcorper ex. Mauris in leo posuere urna placerat rhoncus nec sit amet dui. Sed quis tellus ipsum. Donec mattis dictum leo, quis sollicitudin neque interdum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
    <div class="flex-allyContainer">
      <div class="background">
        
      <img src="../public/img/ally.png" height="400px">
      <h1></h1>
    </div>

      <p>Recently moved from Oahu. Went to University of Hawaii at Manoa with a background in dentistry. Majored in Psychology. Background in dental.
      wow nvm dont use that, i should change it lol</p>
      
    </div>
    <div class="flex-harlenContainer">
      <div class="background">
      <img src="../public/img/harlen.png" height="400px">
      <h1></h1>
    </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non eros vel quam laoreet sodales. Nunc tincidunt, leo gravida venenatis aliquam, lectus velit pretium lorem, non gravida ligula lacus eu tortor. Cras in ipsum eu erat viverra dignissim quis non lacus. Maecenas ut facilisis mi, ultrices ullamcorper ex. Mauris in leo posuere urna placerat rhoncus nec sit amet dui. Sed quis tellus ipsum. Donec mattis dictum leo, quis sollicitudin neque interdum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
  </div>
  </div>



  <main>


    
  </main>
  <footer>
    <h2>Team Name Here</h2>
    <img src="../public/img/Octocat.png" width="35px">
    <h2>https://github.com/301-Posters</h2>
  </footer>


</body>

</html>