<html lang="en">

<head>

  <!-- <link href="https://fonts.googleapis.com/css?family=Ceviche+One&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/modules.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixster</title>

</head>

<body class="bodyBackground">

  <header class="header" >
    <h1>301 Project name</h1>
    <div>User Name</div>
    <div>
    <div class="button">
     <!-- image from  http://www.pixeljoint.com/files/icons/full/so_house.gif -->
      <img src="../../public/img/" class="homeButton">


      <!-- <button src="../public/img/homeIcon.gif" class="homeButton" id="tier1p1minus" width="100px" height="100 " type="button"> -->

      <!-- <button class="homeButton" type="button"><img src="../public/img/homeIcon.gif"</button> -->

    <!-- <button class="button1" id="" type="button">Switch User</button> -->

    <!-- image from https://cdn.dribbble.com/users/720472/screenshots/2020099/switch3.gif -->
    <!-- <img src="./img/switchUser.gif" class="switchUser"> -->



    <button class="button2" id="" type="button">Library</button>
    <button class="button3" id="" type="button">About Us</button>
  </div>

  </header>
  <div class="innerContainer">
    <div class="flex-container">
      <div class="background">
        <img src="./img/deadpolreru.png" height="400px" z-index="1" >
      </div>
        <h1 id="foreGround"></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non eros vel quam laoreet sodales. Nunc tincidunt, leo gravida venenatis aliquam, lectus velit pretium lorem, non gravida ligula lacus eu tortor. Cras in ipsum eu erat viverra dignissim quis non lacus. Maecenas ut facilisis mi, ultrices ullamcorper ex. Mauris in leo posuere urna placerat rhoncus nec sit amet dui. Sed quis tellus ipsum. Donec mattis dictum leo, quis sollicitudin neque interdum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
    <div class="flex-container">
      <div class="background">

      <img src="./img/tyler.png" height="400px">
      <h1></h1>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non eros vel quam laoreet sodales. Nunc tincidunt, leo gravida venenatis aliquam, lectus velit pretium lorem, non gravida ligula lacus eu tortor. Cras in ipsum eu erat viverra dignissim quis non lacus. Maecenas ut facilisis mi, ultrices ullamcorper ex. Mauris in leo posuere urna placerat rhoncus nec sit amet dui. Sed quis tellus ipsum. Donec mattis dictum leo, quis sollicitudin neque interdum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
    <div class="flex-container">
      <div class="background">
        
      <img src="./img/ally.png" height="400px">
      <h1></h1>
    </div>

      <p>Recently moved from Oahu. Went to University of Hawaii at Manoa with a background in dentistry. Majored in Psychology. Background in dental.
      wow nvm dont use that, i should change it lol</p>
      
    </div>
    <div class="flex-container">
      <div class="background">
      <img src="./img/harlen.png" height="400px">
      <h1></h1>
    </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non eros vel quam laoreet sodales. Nunc tincidunt, leo gravida venenatis aliquam, lectus velit pretium lorem, non gravida ligula lacus eu tortor. Cras in ipsum eu erat viverra dignissim quis non lacus. Maecenas ut facilisis mi, ultrices ullamcorper ex. Mauris in leo posuere urna placerat rhoncus nec sit amet dui. Sed quis tellus ipsum. Donec mattis dictum leo, quis sollicitudin neque interdum quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
  </div>
  </div>
</div>


  <main>


    
  </main>
  <footer>
    <h2>Team Name Here</h2>
    <img src="../public/img/Octocat.png" width="35px">
    <h2>https://github.com/301-Posters</h2>
  </footer>


</body>

</html>