<html lang="en">

<head>

  <!-- <link href="https://fonts.googleapis.com/css?family=Ceviche+One&display=swap" rel="stylesheet"> -->
  <link rel="stylesheet" href="/views/public/CSS/layout.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixster</title>

</head>

<body style="background-image: linear-gradient(to left,#1B4079, #4D7C8A, #7F9C96, #8fad88, #cbdf90  );">

  <header>
    <img src="../public/img/logoTemp.jpg" height="45px" width="45px" <h1>301 Project name</h1>
    <div>User Name</div>
    <button class="" id="" type="button">Switch User</button>
    <button class="" id="" type="button">Library</button>
    <button class="" id="" type="button">About Us</button>



  </header>



  <main>
    <section class="trendingMovies">
      <% movies.forEach(movie => { %>
        <div class="movie">
          <header>
            <h2><%= movie.title %></h2>
          </header>
          <form action="/generateMovie/<%=movie.movieId%>" method="POST">
            <button>
              <img src="<%=movie.image_url%>" alt="">
            </button>
          </form>
        </div>
      <% }) %>
    </section>

  </main>
  <footer>
    <h1>Team Name Here</h1>
    <button>
      <img src="../public/img/Octocat.png"  width="35px">
    </button>    <h1>https://github.com/301-Posters</h1>
  </footer>


</body>

</html>