<header class="header">
    <nav class="headerNav">
        <h1>PIKSTER</h1>
        <section id="headerSection">
            <a href="/createAcc" id="headerButton">Login</a>
            <a href="/library" id="headerButton">Watch-List</a>
            <a href="/aboutUs" id="headerButton">About</a>
        </section>
    </nav>
</header>
