<header class="header">
    <nav class="headerNav">
        <a id="home-button" href = "/">PIKSTER</a>
        <section id="headerSection">
            <a href="<%=login.link=>" id="headerButton"><%=login.status%></a>
            <a href="/library" id="headerButton">Watch-List</a>
            <a href="/aboutUs" id="headerButton">About</a>
        </section>
    </nav>
</header>
