<header class="header">
    <nav class="headerNav">
        <h1>PIKSTER</h1>
        <section id="headerSection">
            <a href="/ejs/createAcc.ejs" id="headerButton">Login</a>
            <a href="/ejs/library.ejs" id="headerButton">Watch-List</a>
        </section>
    </nav>
</header>