<<<<<<< HEAD
<div>
  some content
</div>
=======
<header class="header">
    <nav class="headerNav">
        <h1>PIKSTER</h1>
        <section id="headerSection">
            <a href="/ejs/createAcc.ejs" id="headerButton">Login</a>
            <a href="/ejs/library.ejs" id="headerButton">Watch-List</a>
        </section>
    </nav>
</header>
>>>>>>> 9aa0c399e308d33898c80a1c18b202faf1493b74
